:root {
  --color-primary: #C271FF;
  --color-secondary: #071629;
}

html {
  font-family: 'Source Sans Pro';
}

.btn-primary {
  background-color: #C271FF !important;
}

.custom-pill {
  border-color: var(--color-primary) !important;
}

#learn {
  color:#C271FF;
  margin-right: 10px;
}

h1, h2, h3 {
  font-family: 'Source Sans Pro' !important;
}

#get-schooled {
  font-size: 100px;
  font-weight: 900 !important;
}

.quote-container img {
  width: 50% !important;
}

img #quote-img {
  width: 50% !important;
}

.bg-primary {
  background-color:var(--color-primary) !important;
}

.primary {
  color: #C271FF;
}

.homepage-body {
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

#smileschool-footer {
  color: white !important;
  font-size: small;
}

#phil-quote {
  width: 50%;
}

.custom-h1 {
  font-size: 32px;
  font-weight: bold;
}

.card-image-top {
  width: 100%;
  object-fit:;
}

.phillip-video {
  width: 15% !important;
}

/* Pricing page */

.pricing-body {
  background-image: url('./images/pricing-background.png');
  background-repeat: no-repeat;
}

/* courses page */

.courses-body {
  background-image: url('./images/background-courses.png');
  background-repeat: no-repeat;
}

 h3 #what-is-smileschool {
  font-size:;
}

.navbar-toggler-icon {
  color: white;
}